@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Orbitron&display=swap');
*,
p {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'Akaya Telivigala', cursive;
}

.container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: space-around;
  height: 100vh;
  max-width: 520px;
  margin: 0 auto;
}

.headerText {
  align-items: center;
  justify-items: center;
}
.flex {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.actualHeaderText {
  font-size: calc(50px + 2vmin);
}

.timeCounter p span {
  text-align: center;
  font-size: calc(24px + 2vmin);
  font-family: 'Orbitron', sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
}
